body {
  background-color: #121212;
}

.vertical-container {
  height: 120vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#play_audio {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: Helvetica;
  color: #000000;
  font-size: 3em;
  background: #FAC900;
  padding: 5vw;
  margin: 2vh;
  text-decoration: none;
}

#play_audio:hover {
  background: #FAC950;
  text-decoration: none;
}
