body {
  background-color: #121212;
}

.vertical-container {
  height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#play_audio {
  -webkit-border-radius: 50;
  -moz-border-radius: 50;
  border-radius: 50px;
  font-family: Helvetica;
  color: #000000;
  font-size: 50px;
  background: #FAC900;
  padding: 100px 100px 100px 100px;
  text-decoration: none;
}

#play_audio:hover {
  background: #FAC975;
  text-decoration: none;
}
